body{
    margin:0;
}
.navBarVertical{
position: static;
padding: .5rem 1rem;
background-color: #007bff;
width: 7rem;
height: 68rem;
color: #fff;
text-decoration: none;
font-size: 1rem;
font-weight: 800;
padding: 1.5rem 1rem;
text-align: center;
text-transform: uppercase;
letter-spacing: .05rem;
z-index: 1;
font-family: Helvetica Neue,sans-serif;
}

.table{
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
    border-collapse: collapse;
}

.table thead th{
    vertical-align: bottom;
border-bottom: 2px solid #e3e6f0;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

th {
    text-align: inherit;
  
}

.containerTable{
    width: 85%;
padding-right: .75rem;
padding-left: .75rem;
margin-right: auto;
margin-left: auto;
position: absolute;
top: 6rem;
left: 10rem;
border-radius: 1rem;
}

.cardHead h6{
    padding-top: 2rem;
}
  
.BtnAccept{
color: #fff;
background-color: #007bff;
border-color: #007bff;
padding: .25rem .5rem;
font-size: .875rem;
line-height: 1.5;
border-radius: .2rem;
margin-right: 1rem;
}

.BtnRefuse{
color: #fff;
background-color: #f30808;
border-color: #f30808;
padding: .25rem .5rem;
font-size: .875rem;
line-height: 1.5;
border-radius: .2rem;
}

  
  
  

.content{
    
    height: 4.4rem;  
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    left: 9.5rem;
    top: 0.5rem;
    position:absolute;
    width: 100%;
}


.logo{
height: 4.3rem;
text-decoration: none;
font-size: 1rem;
font-weight: 800;
padding: 1.5rem 1rem;
text-align: center;
text-transform: uppercase;
letter-spacing: .05rem;
z-index: 1;
}

.Status{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

.back{
    right: 3rem;
    position:fixed;
}

.BodyContainer{
position: absolute;
top: 4.9rem;
left: 9rem;
}

.BodyContainer h3{
    margin-top: 4rem;
    margin-bottom: 3rem;
 margin-left: -6rem;
 color: #5a5c69!important;
 font-size: 1.75rem;
 font-family: Helvetica Neue,sans-serif;
}

.twoRow{
   
    display: flex;
}

.row1{
position: relative;
width: 100%;
padding-right: .75rem;
padding-left: .75rem;

}

.card{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid #e3e6f0;
border-radius: .35rem;
}

.photo, .historyHeader{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
}
.photo{
    text-align: center!important;
}

.historyHeader h6{
    color: #007bff!important;
    font-weight: 700!important;
    font-size: 1rem;
    font-family: Helvetica Neue,sans-serif;
}

.historyHeader{
    height: 17.9rem;
}

.historyHeader ul{
margin: 0;
font-family: Helvetica Neue,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #858796;
text-align: left;
}

.btnPhoto, .btnSaveSettings, .back{
color: #fff;
background-color: #007bff;
border-color: #007bff;
padding: .25rem .5rem;
font-size: .875rem;
line-height: 1.5;
border-radius: .2rem;
}

.row2{
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    
}

.cardHead{

margin-bottom: 0;
background-color: #f8f9fc;
border-bottom: 1px solid #e3e6f0;
border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;

}

.cardHead h6{
    color: #007bff!important;
    font-weight: 700!important;
    font-family: Helvetica Neue,sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.cardBody{
flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #858796;
text-align: left;
background-color: #fff;
margin: 0;
font-family: Helvetica Neue,sans-serif;
border: 1px solid #dcdde4;
}

.formA{
    display:flex;
    flex-wrap: nowrap;
}

.formAP{
    padding-left: 20rem;
    display: grid;
    grid-template-columns: 10rem 15rem;
}

.cardBody input:focus{
color: #6e707e;
background-color: #fff;
border-color: #bac8f3;
outline: 0;
box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
}

.col{
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    padding-right: .75rem;
    padding-left: .75rem;
}

.row{
    background-color: #fff;
}

.form-group-btn{
    margin-top: 1rem;
}

.BodyContainer{
    margin-left: 13.5%;
}

footer{
    text-align: center;
}